Importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

Importing Regression algorithm

In [4]:
lnr=LinearRegression()
from sklearn.model_selection import train_test_split

In [15]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [94]:
data_cat=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\Machine Learning A-Z Template Folder\Part 1 - Data Preprocessing\Data_Preprocessing\Data.csv')

Filling the Null data

In [61]:
data_pre['Salary'].fillna(np.mean(data_pre['Salary']),axis=0,inplace=True)

In [66]:
data_pre['Age'].fillna(np.mean(data_pre['Age']),axis=0,inplace=True)

In [2]:
#data_pre

Getting dummies to avoid dummy variable trap

In [69]:
dum=pd.get_dummies(data_pre['Purchased'])

In [76]:
data_pre=pd.concat([data_pre,dum],axis=1)

In [92]:
data_pre.drop('Yes',axis=1,inplace=True)

In [87]:
data_pre['Purchased']=data_pre['Yes']

In [99]:
data_cat['Age'].fillna((np.mean(data_cat['Age'])),axis=0,inplace=True)

In [101]:
data_cat['Salary'].fillna((np.mean(data_cat['Salary'])),axis=0,inplace=True)

In [112]:
from sklearn.linear_model import LogisticRegression
logr=LogisticRegression()

In [121]:
data_pre['Country']=pd.Categorical(data_pre.Country).codes

Data slicing

In [195]:
X=data_pre.iloc[:,:-1]
y=data_pre['Purchased']

Data splitiing into train and test data

In [196]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [197]:
lnr.fit(X_train,y_train)
pred=lnr.predict(X_test)
from sklearn.metrics import accuracy_score
#accuracy_score(y_test,pred)

In [198]:
pred

array([ 0.84684999, -0.0150221 ,  0.38963609])

In [199]:
y_test

8    0
1    1
5    1
Name: Purchased, dtype: uint8

In [1]:
#accuracy_score(y_test,pred)

In [201]:
data_pre['Country']=pd.Categorical(data_cat.Country).codes

In [194]:
data_pre

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1