In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
auto_data=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\AutoDataset.csv')

In [49]:
auto_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [50]:
height_asc=auto_data.sort_values(' height', axis=0, ascending=True)

In [51]:
#auto_data['height']
auto_data.columns

Index([' symboling', ' normalized-losses', ' make', ' fuel-type',
       ' aspiration', ' num-of-doors', ' body-style', ' drive-wheels',
       ' engine-location', ' wheel-base', ' length', ' width', ' height',
       ' curb-weight', ' engine-type', ' num-of-cylinders', ' engine-size',
       ' fuel-system', ' bore', ' stroke', ' compression-ratio', ' horsepower',
       ' peak-rpm', ' city-mpg', ' highway-mpg', ' price'],
      dtype='object')

In [52]:
weight_des=auto_data.sort_values(' curb-weight', axis=0, ascending=False)

In [53]:
auto_data[' length'].duplicated().sum()

130

In [70]:
complaints_data=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\Complaints.csv')

In [71]:
complaints_data.columns

Index(['comp_id', 'month', 'incident', 'cust_id', 'sla status new',
       'incident type', 'type', 'severity'],
      dtype='object')

In [72]:
complaints_data['comp_id'].duplicated().sum()

0

In [73]:
slots=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\slots.csv')

In [74]:
orders=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\orders.csv')

In [77]:
#print(slots.shape)
#print(orders.shape)
#orders.head()

(1764, 17)
(1369, 9)

,Unique_id,AD_ID,Date,Time,Client Product Code,Product ID,Network ID,Length,Orders
0,SPYMYA2MC038416440.333333333333333,SPYMYA2MC038,1/5/2014,8:00 AM,MSDR02,SPYMYA,HIST,120,1
1,SPYMYA2MC038416440.416666666666667,SPYMYA2MC038,1/5/2014,10:00 AM,MSDR02,SPYMYA,HIST,120,1
2,SPYMYA2MC038416440.458333333333333,SPYMYA2MC038,1/5/2014,11:00 AM,MSDR02,SPYMYA,HIST,120,2
3,SPYMYA2MC038416440,SPYMYA2MC038,1/5/2014,12:00 AM,MSDR02,SPYMYA,HIST,120,2
4,SPYMYA2MC038416440.541666666666667,SPYMYA2MC038,1/5/2014,1:00 PM,MSDR02,SPYMYA,HIST,120,1

In [94]:
#pd.merge(slots,orders,on='Unique_id',how='right')

In [95]:
bill_data=pd.read_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\Bill.csv')

In [99]:
bill_data.head(2)

,cust_id,act_active_dt,package_id,bill_zip,customer_segment,status,bill_amt
0,9243148228,6/22/2006,54518.0,560095,S,ACTIVE,561.80
1,9243264060,6/23/2006,617691.0,580029,S,ACTIVE,224.35

In [100]:
complaints_data.head(2)

,comp_id,month,incident,cust_id,sla status new,incident type,type,severity
0,318691791,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High
1,318691795,12-Jul,7/22/2012,9.243584e+09,ClosedIN SLA,Customer Communication,VAS-OTHERS,High

In [112]:
inner_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='inner')

In [128]:
inner_join_bill_complaints.shape

(426, 14)

In [103]:
complaints_data.shape

(6587, 8)

In [118]:
outer_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='outer')

In [121]:
left_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='left')

In [122]:
right_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='left')

In [127]:
right_join_bill_complaints.to_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\right_join.csv')

In [ ]:
outer_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='outer')
left_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='left')
right_join_bill_complaints=pd.merge(bill_data,complaints_data,on='cust_id',how='left')
right_join_bill_complaints.to_csv(r'C:\Users\ravit\OneDrive\Desktop\koti\right_join.csv')